*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --dark: #424242;
    --primary: #FFF4E7;
    --light-dark: #727272;
    --white: #fff;
    --orange: #FF900E;
    --border-left: 5px solid var(--orange);
}

/* HEADER AREA */

header{
   background-color: var(--primary);
   margin-bottom: 85px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 100px;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--dark);
}

/* BRAND AREA */

.brand{
    margin: 0 auto;
    text-align: center;
}
.brand img{
    max-width: 1200px;
    margin-bottom: 40px;
}
.brand-content{
    max-width: 872px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.brand-content h1{
    font-size: 64px;
}
.brand-content p{
    color: var(--light-dark);
}
.brand-content h1, p{
    margin-bottom: 32px;
}
.btn-primary{
    width: 180px;
    height: 64px;
    color: var(--white);
    background-color: var(--orange);
    border: 0;
    font-size: 20px;
    border-radius: 5px;
}

/* MAIN AREA */

/* QUICK AREA */

.quick{
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
}
.quick-img-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.quick-content{
    max-width: 537px;
}
.quick-content h2{
    font-size: 45px;
    margin-bottom: 24px;
}
.quick-content .light-dark{
    color: var(--light-dark);
    font-weight: 500;
}
.quick-content .orange{
    color: var(--orange);
}
.quick-content p{
    color: var(--light-dark);
    line-height: 26px;
}


/* FEATURES AREA */


.features{
    display: flex;
    align-items: center;
    gap: 146px;
    justify-content: center;
    margin-bottom: 130px;

}
.features-content{
    max-width: 586px;
}
.features-content h2{
    border-left: var(--border-left);
    font-size: 45px;
    margin-bottom: 24px;
}
.features-content > p{
    margin-bottom: 30px;
}
.features-content p{
    color: var(--light-dark);
}
.card-content{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}
.card-content h3{
    margin-bottom: 10px;
}
.features button{
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    width: 340px;
    height: 200px;
    font-size: 25px;
    border-radius: 8px;
    margin-top: -60%;
    margin-left: -12%;
}
.features .year-button{
    font-size: 65px;
    font-weight: 700;
}


/* FACTS AREA */

.facts{
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.facts h2{
    font-size: 45px;
    margin-bottom: 24px;
}
.facts p{
    max-width: 550px;
    color: var(--light-dark);
}
.fact-box{
    margin-bottom: 180px;
}
.box{
    display: flex;
    justify-content: center;
    gap: 124px;
}
.box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--orange);
    padding: 35px 45px;
    border-radius: 8px;
    transition: 1s ease;
}
.box-content img{
    margin-bottom: 10px;
}
.box-content:hover{
    transform: scale(1.1);
    transition: 1s ease;
    opacity: 0.6;
}
.box-content h2{
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 600;
}
.box-content p{
    color: var(--light-dark);
    font-size: 20px;
}


/* SPONSPORS AREA */


.sponspors{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}
.sponspors h2{
    font-size: 45px;
    margin-bottom: 24px;
}
.sponspors p{
    color: var(--light-dark);
    margin-bottom: 50px;
}
.sponspors-company{
    display: flex;
    gap: 155px;
}
.sponspors-company img{
    filter: grayscale(100%)
}


/* LATEST POST */


.latest{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.latest h2{
    font-size: 45px;
    margin-bottom: 70px;
}
.post-card{
    display: flex;
    gap: 30px;
}
.post{
    max-width: 300px;
    height: 400px;
    box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
    border-radius: 5px;
    overflow: hidden;
}
.post img{
    overflow: hidden;
    max-width: 300px;
    margin-bottom: 10px;
    height: 200px;
    transition: all 1.1s ease;
}
.post:hover img{
    transform: scale(1.1);
}
.post-content{
    padding: 0 20px;
}
.post-content .marketing{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: var(--light-dark);
}
.post-content p{
    font-size: 20px;
    font-weight: 500;
}




/* FOOTER AREA */

footer{
    max-width: 1400px;
    background-color: var(--primary);
    margin: 0 auto;
    border-radius: 8px;
}
.footer p{
    margin-bottom: 200px;
    padding: 39px 410px;
}


/* RESPONSIVE FOR MOBILE DEVICE */

@media screen and (max-width: 480px) {
    nav{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
    }
    .brand-content h1{
        font-size: 50px;
    }
    .brand-content p{
        font-size: 14px;
    }
    .brand-content h1, p{
        margin-bottom: 20px;
    }
    .brand img{
        width: 300px;
    }
    .quick{
        flex-direction: column;
        margin-bottom: 70px;
    }
    .quick h2{
        font-size: 40px;
    }
    .quick-img-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-img-grid img{
        width: 300px;
    }
    .features{
        gap: 50px;
        flex-direction: column;
        margin-bottom: 70px;
    }
    .features-content h2{
        font-size: 40px;
    }
    .features-content p{
        font-size: 14px;
    }
    .features-architect img{
        width: 300px;
    }
    .features button{
        margin-top: 0;
        width: 200px;
        height: 100px;
        margin-left: 0;
    }
    .year{
        text-align: center;
    }
    .features .year-button{
        font-size: 40px;
    }
    .facts{
        margin-bottom: 50px;
    }
    .facts h2{
        margin-bottom: 15px;
    }
    .fact-box{
        margin-bottom: 100px;
    }
    .box{
        flex-direction: column;
        gap: 45px;
    }
    .box-content{
        width: 200px;
        margin: 0 auto;
        padding: 10px 0;
    }
    .box-content h2{
        font-size: 30px;
    }
    .sponspors{
        text-align: center;
    }
    .sponspors-company{
        flex-direction: column;
        gap: 70px;
    }
    .post-card{
        flex-direction: column;
    }
    .footer p{
        padding: 10px 20px;
        text-align: center;
        margin-bottom: 70px;
    }
}

